/* .dino.jumping {
    animation: jumpArc 0.3s ease-in-out forwards;
  }

@keyframes jumpArc {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-80px); 
    }
    100% {
      transform: translateY(0);
    }
  } */
  
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .scroll-item {
    scroll-snap-align: start;
  }
  
  